<form action="/user/addUser">
    <input type="text"   name="loginId"   placeholder="아이디를 입력해주세요."   value=""/><br><br>   
    <input type="text"   name="pass"      placeholder="비밀번호를 입력해주세요." value=""/><br><br>
    <input type="text"   name="username"  placeholder="이름을 입력해주세요."     value=""/><br><br>
    <input type="text"   name="sex"       placeholder="성별을 입력해주세요."     value=""/><br><br>
    <input type="text"   name="age"       placeholder="나이를 입력해주세요."     value=""/><br><br>   
    <input type="submit" value="전송"/>
</form>